<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latino Comparte Argentina</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<nav th:fragment="navbar" class="bg-white-600 text-purple-900 px-6 py-3 flex items-center gap-2 text-sm tracking-widest shadow-md">
    <img th:src="@{/images/logo-argentina.jpg}" alt="logo" class="h-16 w-auto mr-4">
    <a th:href="@{/}"
       class="flex items-center gap-2 px-4 py-2 rounded-lg transition duration-300
              hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-purple-600
              hover:text-white hover:scale-105"
       th:classappend="${activeMenu == 'home'} ? ' bg-gradient-to-r from-fuchsia-700 to-purple-700 text-white shadow-lg' : ''">
        <i class="fa-solid fa-house"></i>
        <span>INICIO</span>
    </a>
    <a th:href="@{/noticias}"
       class="flex items-center gap-2 px-4 py-2 rounded-lg transition duration-300
              hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-purple-600
              hover:text-white hover:scale-105"
       th:classappend="${activeMenu == 'noticias'} ? ' bg-gradient-to-r from-fuchsia-700 to-purple-700 text-white shadow-lg' : ''">
        <i class="fa-solid fa-newspaper"></i>
        <span>NOTICIAS</span>
    </a>
    <a th:href="@{/testimonios}"
       class="flex items-center gap-2 px-4 py-2 rounded-lg transition duration-300
              hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-purple-600
              hover:text-white hover:scale-105"
       th:classappend="${activeMenu == 'testimonios'} ? 'bg-gradient-to-r from-fuchsia-700 to-purple-700 text-white shadow-lg' : ''">
        <i class="fa-solid fa-comment-dots"></i>
        <span>TESTIMONIOS</span>
    </a>
    <a th:href="@{/contactos}"
       class="flex items-center gap-2 px-4 py-2 rounded-lg transition duration-300
              hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-purple-600
              hover:text-white hover:scale-105"
       th:classappend="${activeMenu == 'contactos'} ? ' bg-gradient-to-r from-fuchsia-700 to-purple-700 text-white shadow-lg' : ''">
        <i class="fa-solid fa-address-book"></i>
        <span>CONTACTOS</span>
    </a>

    <span th:if="${session.usuario != null}" class="ml-auto flex items-center gap-2">
        <i class="fa-solid fa-user"></i>
            <span th:text="${session.usuario.nombre}"></span>

        <a th:href="@{/logout}"
       class="ml-3 text-red-600 hover:underline">
        SALIR
         </a>
    </span>

    <a th:if="${session.usuario == null}"
       th:href="@{/login}"
       class="ml-auto">
        LOGIN
    </a>

</nav>

<body>
</body>
</html>
