<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latino Comparte Argentina</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" th:href="@{/css/style.css}">
</head>
<nav th:fragment="navbar" class="menu-shell p-2 space-y-1 text-sm tracking-[0.35em] text-sm">
    <a th:href="@{/}" class="menu-item flex items-center gap-3 px-4 py-3 rounded-xl transition" th:classappend="${activeMenu=='home'} ? ' active-item '">
        <i class="fa-solid fa-house"></i>
        <span>INICIO</span>
    </a>

</nav>

<body>

</body>
</html>